<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSData2vector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>bit_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>byte_data_on_cpp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>byte_data_with_vector_and_string.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>constructorExpection_And_StackVar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>constructor_on_smart_ptr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>remove_from_vector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>return_is_const_vector_char_ref_the_copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>return_vector_stirng_is_deep_copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>reuse_unique_ptr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>shared_ptr_after_new_and_delete.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>shared_ptr_nullptr_decrement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>shared_ptr_to_unique_ptr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>smart_ptr_derive_and_cast_and_virtual.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>std_string_copy_or_assign.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>std_unique_ptr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test_smartPointer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>typedef_struct_array.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>what_is_explicit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>what_is_std_wstring_encoding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA0DDAC31AE611B700FFE826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA0DDACE1AE6210B00FFE826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA0DDAD91AE733A600FFE826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA0DDAE61AE7723500FFE826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA24FE551B4B7460001A3544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA70249F1B13124C006D52B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA78E7731B33EE9E00E221AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA8D960F1B2523E800EE9229</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA8D961A1B25350200EE9229</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA9BF4561B27FEC400DAB589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AACA9BFC1B5498EB003C09ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AACA9C081B54E963003C09ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAD2FDC016DDAA9900461EC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAD3BF6C1B2523A000DCA6CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AADBBD331B0440F1002540A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAE6A56C1B004ABA00DA959A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAE6A57D1B02E37100DA959A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAEB062B1ADE48B40071F806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAEF9F611B46598300806FA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAF118721B37F1C600F2D8AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAF1188E1B3A30B900F2D8AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAF636821AEA2E1E0028D43C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
